# Analitica de datos en las organizaciones

##  Unidad 1 Conceptos Generales de Phyton

In [1]:
print("Hola mundo")

Hola mundo

In [2]:
print("Hola \n mundo")

Hola
 mundo

In [3]:
print(**********)

SyntaxError: invalid syntax (388726753.py, line 1)

In [4]:
print("*****************")

*****************

In [5]:
print("*" * 50)

**************************************************

In [6]:
print("Hola Mundo"*50)

Hola MundoHola MundoHola MundoHola MundoHola MundoHola MundoHola MundoHola MundoHola MundoHola MundoHola MundoHola MundoHola MundoHola MundoHola MundoHola MundoHola MundoHola MundoHola MundoHola MundoHola MundoHola MundoHola MundoHola MundoHola MundoHola MundoHola MundoHola MundoHola MundoHola MundoHola MundoHola MundoHola MundoHola MundoHola MundoHola MundoHola MundoHola MundoHola MundoHola MundoHola MundoHola MundoHola MundoHola MundoHola MundoHola MundoHola MundoHola MundoHola MundoHola Mundo

## Operadores en Phyton

In [7]:
print(3 * 50)

150

In [8]:
print(10 / 3)

3.3333333333333335

In [9]:
print(10 // 3)

3

In [10]:
print(9 % 2)

1

In [11]:
print(2 + 3 * 5)

17

In [12]:
print((2 + 3) * 5)

25

In [13]:
x = 5
y = 3.1416
print(x * y)

15.708

In [14]:
type(x)

int

In [15]:
type(y)

float

## Convertir tipos de Datos

In [16]:
y = int(3.6)
print(y)

3

In [18]:
x = "300"
z = int(x)
print(z)

300

## Entrada de datos

In [19]:
variable = input("Escribe tu nombre: ")
print("Tu nombre es: ", variable)

Escribe tu nombre: Carlos
Tu nombre es:  Carlos

In [20]:
x = input("Proporcioname un numero para multiplicarlo por 5: ")
print(x * 5)

Proporcioname un numero para multiplicarlo por 5: 5
55555

In [21]:
x = int(input("Proporcioname un numero para multiplicarlo por 5: "))
print(x * 5)

Proporcioname un numero para multiplicarlo por 5: 5
25

## Calcular la hipotenusa de un triangulo

In [22]:
import math
a = float(input("Ingrese el cateto a: "))
b = float(input("Ingrese el cateto b: "))
c = (a**2) + (b**2)
print("La hipotenusa es: ", math.sqrt(c))

Ingrese el cateto a: 3
Ingrese el cateto b: 6
La hipotenusa es:  6.708203932499369

## IF ELSE condiciones

In [24]:
a=5000
b=7000
if b > a:
    print ("b es mayor que a")
    print(b, "es mayor que ", a)
    else:
    print("a es mayor que b")
    print(a, "es mayor que ", b)
    print("fuera del IF")

SyntaxError: invalid syntax (2862306721.py, line 5)